<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sample.edgedetection">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"        
        android:theme="@style/AppTheme">
        <activity 
            android:name=".scan.ScanActivity"
            android:label="@string/scan"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".crop.CropActivity"
            android:label="@string/crop"
            android:launchMode="singleTask" />
    </application>

</manifest>
